.home-section{
    max-width: 100%;
    min-height: 100vh;
    background-image: url(../images/bg-home.png);
    background-size: cover;
    background-position: center;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 9999;
    opacity: 1;
    animation: fadeOut 3s forwards;
  }
  
  /* Keyframes untuk animasi fade out */
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
.logo{
    max-width: 30rem;
    height: 200px;
}
.overview-btn-title{
  font-family: 'Seibi',sans-serif;
  color: #B7B7B7;
  font-size: 2rem;
}
@keyframes slide {
  0% {
    top: -10px;
  }
  100% {
    top: 0;
  }
}

.overview-btn {
  position: relative; 
  animation: slide 1s ease-in-out infinite alternate; 
  transition: 0.5s ease-in-out;
}
.overview-btn:hover{
  filter: brightness(10);

}
.overview-btn:active {
  border-color: transparent; /* Border menjadi transparan saat tombol diklik */
}
@media (max-width: 768px) {
   
     
    .logo{
        margin-top: 2rem;
        height: 200px;
    }
  }