@font-face {
  font-family: "Algreya";
  src: url(../font/Alegreya.ttf);
}

.overview2-section{
    width: 100%;
    min-height: 100vh;
    background-image: url(../images/bg-overview2.png);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.overview2-title{
    font-size: 3.5rem;
    margin-right: 250px;
  color: #B7B7B7;
  font-family: "Algreya",sans-serif;
    

}
.colkanan2{
    position: relative; /* Membuat transformasi lebih efektif */
  transition: transform 0.5s ease; 
}
.overview2-desc {
  width: 80%; 
  font-size: 1.6rem;
  margin-right: 250px;
  color: #B7B7B7;
  font-family: "Algreya",sans-serif;

}
  

.overview2-desc span{
    color: rgb(189, 0, 0);
}
.overview2-video{
 max-width: 400px;
 margin-right: 200px;
 height: auto;

}

@media (max-width: 768px) {
    .overview2-section {
        position: relative; /* Membuat posisi relatif untuk menempatkan overlay */
        background-image: url(../images/bg-overview2Port.png);
        background-size: cover; /* Menyusun gambar agar sesuai dengan ukuran elemen */
        background-position: center; /* Mengatur posisi gambar */
      }
      
      .overview2-section::before {
        content: ''; /* Membuat konten kosong untuk overlay */
        position: absolute; /* Mengatur posisi overlay */
        top: 0; /* Menempatkan overlay di atas */
        left: 0; /* Menempatkan overlay di atas */
        width: 100%; /* Lebar penuh overlay */
        height: 100%; /* Tinggi penuh overlay */
        background-color: rgba(0, 0, 0, 0.5); /* Warna hitam dengan transparansi 50% */
        z-index: 1; /* Pastikan overlay berada di atas gambar */
      }
      
    .colkanan2{
        display: flex;  
        align-items: center;
        flex-direction: column;
        z-index: 2;
    }
      .overview2-title{
        font-size: 2rem;
        margin-right: 0;
        color: white;
    }
    .overview2-desc {
      font-size: 1rem;
      margin-right: 0;
      text-align: center;
      color: white;
    }
    .overview2-desc span{
        color: red;
    }
    .overview2-video{
      margin-right: 0;
      width: 100%;
      height: auto;
    }
    .colkiri2{
        display: none;
    }

  }